body{
    background-color: #defbff;
}

li {

    display: inline;
    
    font-family: cursive;
    font-weight: bold;
    
    
}
a{
    background-color: white;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 25px;
    transition: all 0.7s;
}

a:hover {
    background-color: black;
    color:white ;
}

.pc-5{
    background-color: aliceblue;
}

.pc-4{
    background-color: rgb(255, 223, 180);
}
.pc-3{
    background-color: rgb(255, 223, 180);
}
.pc-2{
    background-color: rgba(93, 93, 93, 0.449);
}
.pc-1{
    background-color: rgba(93, 93, 93, 0.449);
}